.Agents {
    text-align: center;
    
    
  }
.headerDesc {
  font-size: 14px;
  text-align: center;
}

.avatar{
  display: flex;
  justify-content: center;
  
}
  
.container-view {
  padding-top: 7rem;
  padding-bottom: 5.5rem;
  
  display: flex;
  flex-wrap: wrap;
  
 
  
  
  gap: 1rem;
}

.avatar img {
  border-radius: 10%;
  width: 200px;
  height: 210px;
  
}
  
@media (max-width: 900px) {
  .container-view{
    flex-direction: column;
  }
}
